*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	height: 100vh;
	background-color: #FFF;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clear-fix {
	clear: both;
}

nav {
	height: auto;
	width: 100%;
	margin: 0 auto;
}

#main-container {
	padding: 0 auto;
	width: 80%;
	height: 85%;
	margin: 0 auto;
}

.logoContainer img {
	height: 300px;
	width: 300px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
	transition: transform 1s;
}

.block1 {
	float: left;
	width: 40%;  
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

#inputContainer {
	padding: 10px;
	width: 300px;
	height: auto;
	margin: 0 auto;
	border-top: 10px solid crimson;
	overflow: hidden;
	background-color: #1D1B1B;
	border-radius: 5px;
	box-shadow: 5px 5px 5px crimson;
}

#inputContainer h1 {
	font-family: 'open-sans', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: left; 
	margin: 0 auto;
	text-align: center;
}

#inputContainer .form-control {
	height: 30px;
	width: 80%;
	display: block;
	border-radius: 3px;
	margin: 20px auto;
	padding: 10px;
}

#inputContainer .addBtn {
	display: block;
	background-color: crimson;
	color: white;
	padding: 10px 15px;
	margin: 0 auto;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	align-items: left;
}

#summaryBtn{
	background-color: crimson;
	color: white;
	padding: 10px 15px;
	margin: 20px auto auto auto;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	align-items: left;
	box-shadow: 2px 4px black;
}


#inputContainer .addBtn:hover {
	background-color: #8d0101;
	color: white;
}

.block2 {
	float: left;
	width: 60%;
	height: auto;  
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

.block2 h1 {
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: #383838;
}

.categoryBlock {
	float: left;
	width: 40%;
	height: auto;  
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

.billCategoryTable  {
	width: 100%;
	box-shadow: 5px 7px 5px crimson;
	border: 5px solid #383838;
	margin: 0 auto;	
	padding: 10px 10px;
}

.billCategoryTable tr th {
  font-family: 'open-sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.billCategoryTable td {
  font-style: 'roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  border: none;
}

.billCategoryTable tr:nth-child(even) {
  background-color: #d8d8d8;
}

.catergoryBlock h1 {
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: #383838;
}

.catergoryBlock th { 
	margin: 0 auto;
	padding: 25px;
}

.billsDueTable {
	width: 100%;
	box-shadow: 5px 7px 5px crimson;
	border: 5px solid #383838;
	margin: 0 auto;	
}

.billsDueTable tr th {
  font-family: 'open-sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.billsDueTable td {
  font-style: 'roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  color: black;
  border: none;
}

.billsDueTable tr:nth-child(even) {
  background-color: #dddddd;
}

.billsDueTable .removeBtn {
	display: inline;
	background-color: red;
	color: white;
	border: none;
	padding: 10px 5px;
	margin: 5px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	align-items: left;
}

.billsDueTable .paidBtn {
	display: inline;
	background-color: green;
	color: white;
	border: none;
	padding: 10px 10px;
	margin: 5px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	align-items: left;
}

#girlLogo {
	height: 500px;
	width: 300px;
	margin: 0 auto;
	display: inline;
	position: absolute;
	top: 50px;
	left: 16%;
	z-index: -1;
}

span {
	color: blue;
}
.socmed-container {
	text-align: center;
	margin-bottom: 5px;
}

.socmed-container img {
	width: 30px;
	height: 30px;
	background: white;
	margin-right: 5px;
	border: 2px solid white;
	border-radius: 40%;
	padding: 2px;
	cursor: pointer;
}
.socmed-container h1 {
	font-size: 15px;
	margin-bottom: 5px;
	font-family: 'Muli', sans-serif;
	color: white;
}

footer {
	background-color: crimson;
	height: auto;
	width: auto;
	bottom: 0;
	margin: 0 auto;
	padding: 18px;
	text-align: center;
	clear: both;
}

footer p {
	color: white;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	margin: 0 auto;
}


/*--------------- Landing Page*/
#landingpage-bg {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(105,105,105, 0.55)),
    url(../images/background.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 85vh;
}

.lp-logo {
	width: 150px;
	height: 150px;
	top: 0;
	margin-top: -20px;
	padding: auto;
	position: absolute;
	margin-left: 40px;
}

.block3 {
	float: left;
	width: 30%;  
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

#inputSignin {
	padding: 10px;
	width: 350px;
	height: auto;
	margin: 0 auto;
	border-top: 10px solid crimson;
	overflow: hidden;
	background-color: #1D1B1B;
	border-radius: 10px;
	opacity: .7;
	margin-top: 50%;
	/*box-shadow: 5px 5px 5px crimson;*/
}
#inputSignin label {
	color: white;
	display: flex;
	justify-content: center;
	align-items: left;
	font-family: 'open-sans', sans-serif;
	font-size: 1.2em;
}

#inputSignin h1 {
	font-family: 'open-sans', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: left; 
	margin: 15px auto;
	text-align: center;
}

#inputSignin .form-control {
	height: 40px;
	width: 80%;
	display: block;
	border-radius: 3px;
	border: none;
	/*border: 2px solid crimson;*/
	margin: 10px auto;
	padding: 10px;
}

#inputSignin .form-control:hover {
	border: 2px solid crimson;
}

#inputSignin .loginBtn {
	display: block;
	width: 80%;
	background-color: crimson;
	color: #d8d8d8;
	padding: 10px 15px;
	margin: 10px auto;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

#inputSignin .loginBtn:hover {
	background-color: #8d0101;
	color: white;
}

.block4 {
	float: left;
	width: 70%;  
	margin-top: 250px;
	overflow: hidden;
}

#slogan {
	color: white;
	font-size: 3em;
	text-align: left;
	text-transform: uppercase;
	margin: 0 auto;
	padding-left: 40px;
	font-family: 'roboto', sans-serif;																																				
}

#sloganParagraph {
	color: white;
	font-size: 1.2em;
	/*font-weight: bold;*/
	text-align: left;
	margin: 20px auto;
	padding-left: 40px;
	font-family: 'open-sans', sans-serif;	
}

#signUp {
	border: 3px solid white;
	border-radius: 20px;
	background-color: crimson;
	color: white;
	font-size: 1em;
	font-family: 'roboto', sans-serif;
	padding: 10px 10px;
	margin-left: 40px;
}

#signUp:hover {
	background-color: #8d0101;
}

html{ 
	scroll-behavior: smooth;
}
.summaryBlock {
	width: 60%;
	height: auto;  
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

.summaryBlock h1 {
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: #383838;
}

#summaryBtn a{
	text-decoration: none;
	color: white;
}

#summaryBtn:hover{
	background-color: #8d0101;
	color: white;
}

#summaryTitle{
	text-align: center;
	padding: 10px;
	color: crimson;
	font-size: 2em;
	font-family: 'roboto', sans-serif;
	font-weight: bolder;
}
.summaryContainer{
	margin: 0 auto;
	clear: both;
	font-size: 1.2em;
	font-family: 'roboto', sans-serif;
}

.monthBlock{
	display: flex;
	max-width: 100%;
	justify-content: center;
	margin: 0 auto;
	clear: both;
}

.monthlyHeadTable{
	margin: 10px 30px;
	padding-left: 20px;
}

.monthlyDueTable{
	font-size: 12px;
	margin-right: 20px;
	border: 2px solid crimson;
}

.monthlyDueTable tr th {
  font-family: 'open-sans', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.monthlyDueTable td {
  font-style: 'roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border: none;
}

.monthlyDueTable tr:nth-child(even) {
  background-color: #dddddd;
}


/*Registration --------------------------- */

.registrationBlock {
	width: 30%;  
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

#inputRegistration {
	padding: 10px;
	width: 350px;
	height: auto;
	margin: 0 auto;
	border-top: 10px solid crimson;
	overflow: hidden;
	background-color: #1D1B1B;
	border-radius: 10px;
	opacity: .7;
	margin-top: 50%;
	/*box-shadow: 5px 5px 5px crimson;*/
}
#inputRegistration label {
	color: white;
	display: flex;
	justify-content: center;
	align-items: left;
	font-family: 'open-sans', sans-serif;
	font-size: 1.2em;
}

#inputRegistration h1 {
	font-family: 'open-sans', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: left; 
	margin: 15px auto;
	text-align: center;
}

#inputRegistration .form-control {
	height: 40px;
	width: 80%;
	display: block;
	border-radius: 3px;
	border: none;
	/*border: 2px solid crimson;*/
	margin: 10px auto;
	padding: 10px;
}

#inputRegistration .form-control:hover {
	border: 2px solid crimson;
}

#inputRegistration .regBtn {
	display: block;
	width: 80%;
	background-color: crimson;
	color: #d8d8d8;
	padding: 10px 15px;
	margin: 10px auto;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

#inputRegistration .regBtn:hover {
	background-color: #8d0101;
	color: white;
}

#category{
	height: 40px !important;
	width: 80%;
	display: block;
	border-radius: 3px;
	border: none;
	margin: 10px auto;
	padding: 10px;
}

/*Log-In*/

.loginBlock {
	width: 30%;  
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

#inputLogin {
	padding: 10px;
	width: 350px;
	height: auto;
	margin: 0 auto;
	position: absolute;
	border-top: 10px solid crimson;
	right: 39px;
	top: 228px;
	overflow: hidden;
	background-color: #1D1B1B;
	border-radius: 10px;
	opacity: .7;
	/*margin-top: 50%;*/
}
#inputLogin label {
	color: white;
	display: flex;
	justify-content: center;
	align-items: left;
	font-family: 'open-sans', sans-serif;
	font-size: 1.2em;
}

#inputLogin h1 {
	font-family: 'open-sans', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: left; 
	margin: 15px auto;
	text-align: center;
}

#inputLogin .form-control {
	height: 40px;
	width: 80%;
	display: block;
	border-radius: 3px;
	border: none;
	/*border: 2px solid crimson;*/
	margin: 10px auto;
	padding: 10px;
}

#inputLogin .form-control:hover {
	border: 2px solid crimson;
}

#inputLogin .regBtn {
	display: block;
	width: 80%;
	background-color: crimson;
	color: #d8d8d8;
	padding: 10px 15px;
	margin: 10px auto;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

#inputLogin .regBtn:hover {
	background-color: #8d0101;
	color: white;
}


